# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
LL_env/
venv/
ENV/
env/

# Django
*.log
*.pot
*.pyc
*.pyo
*.sqlite3
db.sqlite3
media/
staticfiles/

# Editor folders
.vscode/
.idea/

# Distribution / packaging
*.egg-info/
*.egg
.Python
pip-log.txt
